/*Backgrounds*/
.bg-a1{background:#1ABC9C;}
.bg-a2{background:#16A085;}
.bg-a3{background:#2ECC71;}
.bg-a4{background:#27AE60;}
.bg-a5{background:#3498DB;}
.bg-a6{background:#2980B9;}
.bg-a7{background:#34495E;}
.bg-a8{background:#2C3E50;}
.bg-a9{background:#EA4C88;}
.bg-a10{background:#CA2C68;}
.bg-a11{background:#9B59B6;}
.bg-a12{background:#8E44AD;}
.bg-a13{background:#F1C40F;}
.bg-a14{background:#F39C12;}
.bg-a15{background:#E74C3C;}
.bg-a16{background:#C0392B;}
.bg-a17{background:#ECF0F1;}
.bg-a18{background:#BDC3C7;}
.bg-a19{background:#95A5A6;}
.bg-a20{background:#7F8C8D;}
.bg-b1{background:#FFCCBC;}
.bg-b2{background:#FFAC9C;}
.bg-b3{background:#FF8C7C;}
.bg-b4{background:#FF7C6C;}
.bg-b5{background:#FF6C5C;}
.bg-b6{background:#F75C4C;}
.bg-b7{background:#E74C3C;}
.bg-b8{background:#D73C2C;}
.bg-b9{background:#C72C1C;}
.bg-b10{background:#B71C0C;}
.bg-b11{background:#A70C00;}
.bg-b12{background:#870000;}
.bg-c1{background:#FFBCD8;}
.bg-c2{background:#FF8CC8;}
.bg-c3{background:#FF7CB8;}
.bg-c4{background:#FF6CA8;}
.bg-c5{background:#FA5C98;}
.bg-c6{background:#EA4C88;}
.bg-c7{background:#DA3C78;}
.bg-c8{background:#CA2C68;}
.bg-c9{background:#BA1C58;}
.bg-c10{background:#AA0C48;}
.bg-c11{background:#9A0038;}
.bg-c12{background:#8A0028;}
.bg-d1{background:#DCC6E0;}
.bg-d2{background:#CEA0E4;}
.bg-d3{background:#BE90D4;}
.bg-d4{background:#AB69C6;}
.bg-d5{background:#9B59B6;}
.bg-d6{background:#8E44AD;}
.bg-d7{background:#7E349D;}
.bg-d8{background:#7E349D;}
.bg-d9{background:#5E147D;}
.bg-d10{background:#4E046D;}
.bg-d11{background:#3E005D;}
.bg-d12{background:#1E003D;}
.bg-e1{background:#39D5FF;}
.bg-e2{background:#29C5FF;}
.bg-e3{background:#19B5FE;}
.bg-e4{background:#22A7F0;}
.bg-e5{background:#1297E0;}
.bg-e6{background:#0287D0;}
.bg-e7{background:#0077C0;}
.bg-e8{background:#0067B0;}
.bg-e9{background:#0057A0;}
.bg-e10{background:#004790;}
.bg-e11{background:#003780;}
.bg-e12{background:#102770;}
.bg-f1{background:#5EFAF7;}
.bg-f2{background:#51F5EA;}
.bg-f3{background:#47EBE0;}
.bg-f4{background:#37DBD0;}
.bg-f5{background:#27CBC0;}
.bg-f6{background:#17BBB0;}
.bg-f7{background:#07ABA0;}
.bg-f8{background:#009B90;}
.bg-f9{background:#008B80;}
.bg-f10{background:#007B70;}
.bg-f11{background:#106B60;}
.bg-f12{background:#005B50;}
.bg-g1{background:#8EFFC1;}
.bg-g2{background:#5EFCA1;}
.bg-g3{background:#4EEC91;}
.bg-g4{background:#3EDC81;}
.bg-g5{background:#2ECC71;}
.bg-g6{background:#1EBC61;}
.bg-g7{background:#0EAC51;}
.bg-g8{background:#009C41;}
.bg-g9{background:#008C31;}
.bg-g10{background:#007C21;}
.bg-g11{background:#006C11;}
.bg-g12{background:#005C01;}
.bg-h1{background:#FDE3A7;}
.bg-h2{background:#FFCF4B;}
.bg-h3{background:#F9BF3B;}
.bg-h4{background:#F9B32F;}
.bg-h5{background:#F5AB35;}
.bg-h6{background:#F39C12;}
.bg-h7{background:#F1892D;}
.bg-h8{background:#E67E22;}
.bg-h9{background:#D87400;}
.bg-h10{background:#C86400;}
.bg-h11{background:#B85400;}
.bg-h12{background:#A84410;}
.bg-i1{background:#FFDCB5;}
.bg-i2{background:#FFC29B;}
.bg-i3{background:#FFB28B;}
.bg-i4{background:#FFA27B;}
.bg-i5{background:#FF926B;}
.bg-i6{background:#F3825B;}
.bg-i7{background:#E3724B;}
.bg-i8{background:#D3623B;}
.bg-i9{background:#C3522B;}
.bg-i10{background:#B3421B;}
.bg-i11{background:#A3320B;}
.bg-i12{background:#932210;}
.bg-j1{background:#F6C4A3;}
.bg-j2{background:#EAB897;}
.bg-j3{background:#DFAD8C;}
.bg-j4{background:#D4A281;}
.bg-j5{background:#CE9C7B;}
.bg-j6{background:#BE8C6B;}
.bg-j7{background:#AE7C5B;}
.bg-j8{background:#9E6C4B;}
.bg-j9{background:#8E5C3B;}
.bg-j10{background:#7E4C2B;}
.bg-j11{background:#6E3C1B;}
.bg-j12{background:#5E2C0B;}
.bg-k1{background:#C5D3E2;}
.bg-k2{background:#BCCAD9;}
.bg-k3{background:#ACBAC9;}
.bg-k4{background:#9CAAB9;}
.bg-k5{background:#8C9AA9;}
.bg-k6{background:#7C8A99;}
.bg-k7{background:#6C7A89;}
.bg-k8{background:#5C6A79;}
.bg-k9{background:#4C5A69;}
.bg-k10{background:#3C4A59;}
.bg-k11{background:#2C3A49;}
.bg-k12{background:#1C2A39;}
.bg-l1{background:#D5E5E6;}
.bg-l2{background:#C5D5D6;}
.bg-l3{background:#B5C5C6;}
.bg-l4{background:#A5B5B6;}
.bg-l5{background:#95A5A6;}
.bg-l6{background:#859596;}
.bg-l7{background:#758586;}
.bg-l8{background:#657576;}
.bg-l9{background:#556566;}
.bg-l10{background:#455556;}
.bg-l11{background:#354546;}
.bg-l12{background:#253536;}
.bg-m1{background:#E0E0E0;}
.bg-m2{background:#D0D0D0;}
.bg-m3{background:#C0C0C0;}
.bg-m4{background:#A0A0A0;}
.bg-m5{background:#909090;}
.bg-m6{background:#808080;}
.bg-m7{background:#606060;}
.bg-m8{background:#606060;}
.bg-m9{background:#505050;}
.bg-m10{background:#404040;}
.bg-m11{background:#303030;}
.bg-m12{background:#000000;}

/* Backgrounds Transparent: 50% */
.bg-a1-50{background:rgba(26,188,156,0.5);}
.bg-a2-50{background:rgba(22,160,133,0.5);}
.bg-a3-50{background:rgba(46,204,113,0.5);}
.bg-a4-50{background:rgba(39,174,96,0.5);}
.bg-a5-50{background:rgba(52,152,219,0.5);}
.bg-a6-50{background:rgba(41,128,185,0.5);}
.bg-m12-50{background:rgba(0,0,0,0.5);}

/*Colors*/
.text-a1{color:#1ABC9C;}
.text-a2{color:#16A085;}
.text-a3{color:#2ECC71;}
.text-a4{color:#27AE60;}
.text-a5{color:#3498DB;}
.text-a6{color:#2980B9;}
.text-a7{color:#34495E;}
.text-a8{color:#2C3E50;}
.text-a9{color:#EA4C88;}
.text-a10{color:#CA2C68;}
.text-a11{color:#9B59B6;}
.text-a12{color:#8E44AD;}
.text-a13{color:#F1C40F;}
.text-a14{color:#F39C12;}
.text-a15{color:#F39C12;}
.text-a16{color:#C0392B;}
.text-a17{color:#C0392B;}
.text-a18{color:#BDC3C7;}
.text-a19{color:#95A5A6;}
.text-a20{color:#7F8C8D;}
.text-b1{color:#FFCCBC;}
.text-b2{color:#FFAC9C;}
.text-b3{color:#FF8C7C;}
.text-b4{color:#FF7C6C;}
.text-b5{color:#FF6C5C;}
.text-b6{color:#F75C4C;}
.text-b7{color:#E74C3C;}
.text-b8{color:#D73C2C;}
.text-b9{color:#C72C1C;}
.text-b10{color:#B71C0C;}
.text-b11{color:#A70C00;}
.text-b12{color:#870000;}
.text-c1{color:#FFBCD8;}
.text-c2{color:#FF8CC8;}
.text-c3{color:#FF7CB8;}
.text-c4{color:#FF6CA8;}
.text-c5{color:#FA5C98;}
.text-c6{color:#EA4C88;}
.text-c7{color:#DA3C78;}
.text-c8{color:#CA2C68;}
.text-c9{color:#BA1C58;}
.text-c10{color:#AA0C48;}
.text-c11{color:#9A0038;}
.text-c12{color:#8A0028;}
.text-d1{color:#DCC6E0;}
.text-d2{color:#CEA0E4;}
.text-d3{color:#BE90D4;}
.text-d4{color:#AB69C6;}
.text-d5{color:#9B59B6;}
.text-d6{color:#8E44AD;}
.text-d7{color:#7E349D;}
.text-d8{color:#7E349D;}
.text-d9{color:#5E147D;}
.text-d10{color:#4E046D;}
.text-d11{color:#3E005D;}
.text-d12{color:#1E003D;}
.text-e1{color:#39D5FF;}
.text-e2{color:#29C5FF;}
.text-e3{color:#19B5FE;}
.text-e4{color:#22A7F0;}
.text-e5{color:#1297E0;}
.text-e6{color:#0287D0;}
.text-e7{color:#0077C0;}
.text-e8{color:#0067B0;}
.text-e9{color:#0057A0;}
.text-e10{color:#004790;}
.text-e11{color:#003780;}
.text-e12{color:#102770;}
.text-f1{color:#5EFAF7;}
.text-f2{color:#51F5EA;}
.text-f3{color:#47EBE0;}
.text-f4{color:#37DBD0;}
.text-f5{color:#27CBC0;}
.text-f6{color:#17BBB0;}
.text-f7{color:#07ABA0;}
.text-f8{color:#009B90;}
.text-f9{color:#008B80;}
.text-f10{color:#007B70;}
.text-f11{color:#106B60;}
.text-f12{color:#005B50;}
.text-g1{color:#8EFFC1;}
.text-g2{color:#5EFCA1;}
.text-g3{color:#4EEC91;}
.text-g4{color:#3EDC81;}
.text-g5{color:#2ECC71;}
.text-g6{color:#1EBC61;}
.text-g7{color:#0EAC51;}
.text-g8{color:#009C41;}
.text-g9{color:#008C31;}
.text-g10{color:#007C21;}
.text-g11{color:#006C11;}
.text-g12{color:#005C01;}
.text-h1{color:#FDE3A7;}
.text-h2{color:#FFCF4B;}
.text-h3{color:#F9BF3B;}
.text-h4{color:#F9B32F;}
.text-h5{color:#F5AB35;}
.text-h6{color:#F39C12;}
.text-h7{color:#F1892D;}
.text-h8{color:#E67E22;}
.text-h9{color:#D87400;}
.text-h10{color:#C86400;}
.text-h11{color:#B85400;}
.text-h12{color:#A84410;}
.text-i1{color:#FFDCB5;}
.text-i2{color:#FFC29B;}
.text-i3{color:#FFB28B;}
.text-i4{color:#FFA27B;}
.text-i5{color:#FF926B;}
.text-i6{color:#F3825B;}
.text-i7{color:#E3724B;}
.text-i8{color:#D3623B;}
.text-i9{color:#C3522B;}
.text-i10{color:#B3421B;}
.text-i11{color:#A3320B;}
.text-i12{color:#932210;}
.text-j1{color:#F6C4A3;}
.text-j2{color:#EAB897;}
.text-j3{color:#DFAD8C;}
.text-j4{color:#D4A281;}
.text-j5{color:#CE9C7B;}
.text-j6{color:#BE8C6B;}
.text-j7{color:#AE7C5B;}
.text-j8{color:#9E6C4B;}
.text-j9{color:#8E5C3B;}
.text-j10{color:#7E4C2B;}
.text-j11{color:#6E3C1B;}
.text-j12{color:#5E2C0B;}
.text-k1{color:#C5D3E2;}
.text-k2{color:#BCCAD9;}
.text-k3{color:#ACBAC9;}
.text-k4{color:#9CAAB9;}
.text-k5{color:#8C9AA9;}
.text-k6{color:#7C8A99;}
.text-k7{color:#6C7A89;}
.text-k8{color:#5C6A79;}
.text-k9{color:#4C5A69;}
.text-k10{color:#3C4A59;}
.text-k11{color:#2C3A49;}
.text-k12{color:#1C2A39;}
.text-l1{color:#D5E5E6;}
.text-l2{color:#C5D5D6;}
.text-l3{color:#B5C5C6;}
.text-l4{color:#A5B5B6;}
.text-l5{color:#95A5A6;}
.text-l6{color:#859596;}
.text-l7{color:#758586;}
.text-l8{color:#657576;}
.text-l9{color:#556566;}
.text-l10{color:#455556;}
.text-l11{color:#354546;}
.text-l12{color:#253536;}
.text-m1{color:#E0E0E0;}
.text-m2{color:#D0D0D0;}
.text-m3{color:#C0C0C0;}
.text-m4{color:#A0A0A0;}
.text-m5{color:#909090;}
.text-m6{color:#808080;}
.text-m7{color:#606060;}
.text-m8{color:#606060;}
.text-m9{color:#505050;}
.text-m10{color:#404040;}
.text-m11{color:#303030;}
.text-m12{color:#000000;}